body {
  background-color: rgb(160, 160, 160);
  color: floralwhite;
}

.App {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  color: rgb(70, 65, 6);
  font-size: 40px;
}

.piaic {
  color: teal;
  font-size: 40px;
}

.img {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 80px;
  
}

.list {
 border: solid;
 border-color: teal;
 width: 400px;
 margin-left: auto;
 margin-right: auto;
 background-color: darkslategrey;
}

.h6 {
  font-size: 20px;
  text-align: center;
}

.li {
  font-size: 20px;
}

.h1 {
  border: solid;
  background-color: darkslategrey;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}